option_settings:
  # Java options
  aws:elasticbeanstalk:application:environment:
    JAVA_TOOL_OPTIONS: "-Dfile.encoding=UTF-8"
    SERVER_PORT: "5000"

  # Health check
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /actuator/health

  # Deployment policy
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Percentage
    BatchSize: 50

  # Rolling update
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    RollingUpdateType: Health

  # Cloudwatch logs
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 30
